<!-- <html>


<head>
    <title>
        <%=title%>
    </title>



</head>

<body>
    <%- include('partials/_header'); %> -->
    <h1>codeial/ <%=title%></h1>
    <!-- <%- include('partials/_footer'); %>
    </body>




</html> -->